*.pyc
*.pth
.vscode/
workspace.code-workspace
configs/darknet/*
model/darknet2pytorch.py
notebooks/runs/*
ref/*
samples/runs/*
weights/


archive/*
studying/*
VOCdataset/
VOCdataset
*.pth
predicted_results/*
*.bat
.idea/*
weights/
__pycache__/*
*.pyc
.vscode/
runs/
*.zip